// nextflow.config

// Enable Docker execution
docker.enabled = true
docker.runOptions = '--platform linux/amd64 -u $(id -u):$(id -g)'

process {
    // Default resource allocation
    cpus = 2
    memory = '4 GB'

    // Process-specific container and resource settings
    withName: DOWNLOAD_DATA {
        // Contains sra-tools and wget
        container = 'ncbi/sra-tools:latest'
        cpus = 1
        memory = '4 GB'
        shell = ['/bin/sh', '-e']
    }

    withName: FASTQC {
        // Contains FastQC
        container = 'biocontainers/fastqc:v0.11.9_cv8'
        cpus = 2
        memory = '4 GB'
    }

    withName: STAR_INDEX {
        // Contains STAR and wget/gunzip
        container = 'alexdobin/star:2.7.10a_alpha_220506'
        cpus = 8
        memory = '20 GB'
    }
}